<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudconsole.dao.mybatis.user.dao.OperatorUserDao">
	<!--<resultMap id="BaseResultMap" type="com.cloudconsole.model.OperatorUser" >-->
    	<!--<result column="GUID" property="guid" jdbcType="CHAR" />-->
    	<!--<result column="USERNAME" property="username" jdbcType="VARCHAR" />-->
  	<!--</resultMap>-->
  	<!--<sql id="Base_Column_List">-->
		<!--GUID, USERNAME-->
	<!--</sql>-->
  	<!--<insert id="insertOperatorUser" parameterType="com.cloudconsole.model.OperatorUser" >-->
    <!--insert into operator_user (GUID, USERNAME)-->
    <!--values (#{guid,jdbcType=CHAR}, #{username,jdbcType=VARCHAR})-->
  	<!--</insert>-->
  	<!--<select id="getOperatorUsers" resultMap="BaseResultMap"> -->
  	<!--select -->
  	<!--<include refid="Base_Column_List" /> -->
  	<!--from operator_user-->
	<!--</select>-->
	<!--<select id="getOperatorbyGuid" resultMap="BaseResultMap" parameterType="string"> -->
  	<!--select -->
  	<!--<include refid="Base_Column_List" /> -->
  	<!--from operator_user where -->
  	<!--guid = #{guid,jdbcType=CHAR}-->
	<!--</select>-->
	<!--<delete id="deleteOperatorUserByGuid" parameterType="string">-->
	<!--delete from operator_user where-->
	<!--guid = #{guid,jdbcType=CHAR}-->
	<!--</delete>-->
	<!--<delete id="deleteOperatoruserByName" parameterType="string">-->
	<!--delete from operator_user where-->
	<!--username = #{username,jdbcType=VARCHAR}-->
	<!--</delete>-->
</mapper>
